<!DOCTYPE html>
<html>
  <head>
    <title>gethunted.io - resources for nailing a product hunt launch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <br />  
    <% if flash[:error].present? %>
      <div class="col-10 offset-1 alert alert-danger">
        <%= flash[:error].html_safe %>
      </div>  
    <% elsif flash[:success].present? %>
      <div class="col-10 offset-1">
        <%= flash[:success].html_safe %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
